@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using UmbracoTMNT.Models;
@{
    Layout = null;
    var turtlesNodes = Model.Content.Children.ToArray();
    List<NinjaTurtle> turtles = new List<NinjaTurtle>();
    foreach (var item in turtlesNodes)
    {
        turtles.Add(item.GetPropertyValue<NinjaTurtle>("properties"));
    } 
}
<!DOCTYPE html>
<html>
<head>
    <title>TMNT!</title>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <h1>Teenage Mutant Ninja Turtles</h1>
    <div class="container">
        @foreach (var turtle in turtles)
        {
            <div class="homeTurtle">
                <div>
                    <img src="@turtle.SmallImage" />
                    <a href="@uQuery.GetNode(turtle.Id).NiceUrl">@turtle.Name</a>
                </div>
            </div>
        }
    </div>
</body>
</html>
